# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
env.bak/
.venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Static files
/staticfiles/

# Secret files
*.env
.env
credentials.json

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
