{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% if post.image %}
            <img src="{{ post.image.url|default:'https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg' }}" class="img-thumbnail"  height="200px" alt="{{ post.title }}">
        {% endif %}
        <p class="card-text"><strong>Статья: </strong>{{ post.content|truncatewords:100 }}</p>
        <p><strong>Автор статьи:</strong> <a href="/profile/1">{{ post.author.username }}</a></p>
        <p class="card-text"><strong>Просмотров: {{ post.watched }}</strong></p>
        <p><strong>Вы действительно хотите удалить статью с названием: {{ post.title }}?</strong></p>
        <input type="submit" value="Да, удалить" class="btn btn-danger">
        <a href="{{ post.get_absolute_url }}" class="btn btn-dark">Назад</a>
    </form>
    <div><div style="margin-top: 720px;"></div></div>
{% endblock content %}